/* Reset dan Font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Figtree', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Header */
.header {
    text-align: center;
    padding: 50px 0;
    background: url('../images/beranda.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

.header .overlay {
    padding: 200px;
}

/* Judul */
h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #FF2D20;
}

/* Kontainer Utama */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Konten */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Section */
.section {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.section:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

/* Gambar */
.image {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

/* Deskripsi */
.description {
    margin-top: 20px;
    text-align: center;
    max-width: 800px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}

/* Tombol CTA */
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #FF2D20;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #FF6F20;
}

/* Responsiveness */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    .section {
        padding: 15px;
    }

    .cta-button {
        padding: 8px 16px;
    }

    .header .overlay {
        padding: 100px;
    }
}
